.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::after{
    /*设置添加的子元素的内容为空*/
    content: "";
    /*设置添加的子元素为块级元素*/
    display: block;
    /*设置添加的子元素的高度为0*/
    height: 0;
    /*设置添加的子元素看不见*/
    visibility: hidden;
    /*给添加的子元素设置clear: both;*/
    clear: both;
}
.clearfix{
    /*兼容IE6*/
    *zoom:1;
}
a {
    text-decoration: none !important;
    color: #ccc !important;
}
ul {
    list-style: none;
}
.row.gutter {
    margin-left: 0;
    margin-right: 0;
  }
  .row.gutter > [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
  } 
  .foot {
    background-color: #f8f9fa;
}
.foot a:hover{
    color: brown !important;
}
.active-title {
    font-weight: bold;
    background-color: seagreen;
}
.mb {
    margin-bottom: 10px;
  }

  /*返回顶部小标*/
.back-to {
    display: none;
    bottom: 55px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    z-index: 999;
    /* width: 48px;
    height: 48px;  */
    /* background-color: brown; */
}

.back-to a i {
    color: rgba(219 ,112 ,147,0.8)
}

   @media screen and (min-width: 576px)and (max-width: 768px) {
        #iconsize {
            font-size: 40px !important;
        }
    }
    @media screen and (min-width: 768px)and (max-width: 992px) {
        #iconsize {
            font-size: 50px  !important;
        }
    }
    @media screen and (min-width: 992px)and (max-width: 1200px) {
        #iconsize {
            font-size: 60px !important;
        }
    }
    @media screen and (min-width: 1200px) {
        #iconsize {
            font-size: 70px !important;
        }
    }
    @media screen and (max-width: 576px) {
        #iconsize {
            font-size: 30px !important;
        }
        .newssize {
            width: 100%;
        }
    }
    .logosize {
        font-size: 30px;
    }

    .pheight {
        height: 200px;
    }

    